<div class="mb-6 flex items-center justify-between">
  <h1 class="text-3xl font-bold">New Article</h1>

  <button class="cursor-pointer px-3 py-2 bg-primary text-white rounded hover:bg-primary-hover transition ease-in-out duration-300">
    <%= link_to "Return", root_path %>
  </button>
</div>

<%= render "form", article: @article %>
