<nav class="mb-12 py-4 bg-slate-500 shadow-md">
  <div class="container mx-auto flex items-center gap-3">
    <%= link_to "MyRails Blog", root_path, class: "text-white text-xl" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <ul class="flex gap-3">
        <li class="text-white hover:scale-105 transition easy-in-out duration-100">
          <%= link_to "Articles", root_path %>
        </li>

        <li class="text-white hover:scale-105 transition easy-in-out duration-100">
          <%= link_to "About Me", about_path %>
        </li>
      </ul>
    </div>
  </div>
</nav>
